@font-face {
    font-family: DoF;
    src: url(../font/Daughter\ of\ Fortune.ttf);
}

h1 {
    font-family: DoF;
    font-size: 50px;
    color:  #ad8330;
}

.btn.w-100 {
    font-family: DoF;
    font-size: 40px;
    color:  #ad8330;
    background-color: #f0ebd7;
    border: 2px solid black;
}

.italok {
    font-family: DoF;
    font-size: 30px;
    color:  #ad8330;
}